@model WebApp.Models.Quizes

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

 

<div>
    <h4>Quizes</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Quiz_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quiz_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Quiz_Group_Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
