@model WebApp.Models.Question

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style type="text/css">
    #custom-search-input textarea {
        width: 100%;
        height:150px;
    }
</style>
<section class="hero_single version_2">
    <div class="wrapper">
        <div class="container">
            <h3>Your question?</h3>

            @*@using (Html.BeginForm())
                { @Html.AntiForgeryToken()
                 @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                     <div id="custom-search-input">
                         <div class="input-group">
                             <input type="text" class="search-query" placeholder="Your query..">
                             @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "search-query" } }) <br />
                             @Html.EditorFor(model => model.Asked_By, new { htmlAttributes = new { @class = "form-control" } })
                             <input type="submit" class="btn_search" value="Ask">
                         </div>
                     </div>
                }*@

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div id="custom-search-input">
                    <div class="input-group">

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })



                       

                            @Html.TextAreaFor(model => model.Title, new { htmlAttributes = new { @class = "search-query", @style = "width: 100%;" } })
                            @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })

                       

                        <div>

                            <input type="submit" value="Ask" class="btn btn-default" />
                        </div>

                    </div>
                </div>
            }



        </div>
    </div>
</section>
@*<div class="container margin_60_35">
        <div class="row">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    <h4>Question</h4>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })


                    <div class="form-group">
                        @Html.LabelFor(model => model.Asked_By, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Asked_By, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Asked_By, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Selected_Answer, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Selected_Answer, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Selected_Answer, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.DTS, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.DTS, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.DTS, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Create" class="btn btn-default" />
                        </div>
                    </div>
                </div>
            }

            <div>
                @Html.ActionLink("Back to List", "Index")
            </div>
            </div>
    </div>*@